

<section class="intro">
  <div class="container">
    <h1>My Timeline &darr;</h1>
  </div>
</section>

<section class="timeline">
  <ul>
      <% @milestones.each do |milestone| %>
    <li>
      <div>
        <time><%= milestone.created_at.strftime "%B %e" %></time> <%= milestone.note %>
      </div>
    </li>
<% end %>

  </ul>
</section>
