

<section class="intro">
  <div class="container">
    <h1>My Timeline &darr;</h1>
  </div>
</section>

<section class="timeline">
  <ul>

      <% @milestones.each do |milestone| %>

    <li>
      <div>
        <%= milestone.contact.first_name%> <div class="avatar"></div>
        <br>
        <% milestone.tags.each do |tag| %>
          <%= tag.title %>
        <% end %>
          <time style="font-size: 13px"><%= milestone.created_at.strftime "%B %e %G" %></time>
          <% @locations.each do |location|%>
            <%= location.title %>
          <% end %>
      </div>
    </li>
<% end %>
  </ul>
</section>
