* { box-sizing:border-box; }
.container-fluid { margin:0px; padding:0px; }
.cover {
  height:210px;
  width:100%;
  overflow:hidden !important;
  position:relative;
  background-size:cover !important;
  background-position:top center !important;
  border-bottom:2px solid #256e79;
/*   filter:blur(2px); */
}
.edit_cover_btn {
  padding:10px 22px 10px 15px;
  font-size:16px;
  position:absolute;
  top:50%;
  right: -45px;
  transition:all 0.3s ease;
  background:#256e79;
  border:0;
  color:#fff;
  font-size: 20px;
  border-radius: 7px;
}
.cover:hover .edit_cover_btn {
  right: -10px;
}

@media only screen and (max-width:700px) {
  .edit_cover_btn { display: block; top:25%; opacity:0.85; filter: alpha(opacity=85); }
}
.loggedin_user {
  width:90%;
  margin:0 auto;
  margin-top:-122px;
  position:relative;
}
.user_profile {
  width:170px;
  height:170px;
  overflow:hidden;
  border-radius:50%;
  border:2px solid #256e79;
  float:left;
  position:relative;
  cursor:pointer !important;
}
.user_profile img {
  width:100%;
  float:left !important;
}
.user_name {
  width:110%;
  color:#FFF;
  font-size:25px;
  text-align:center;
  position:absolute;
  bottom:-5px;
  background: #256e79;
  padding:2px 15px 10px 30px;
  transform-origin:center;
  transform:rotateZ(-15deg);
  transition:all 0.35s ease-in;
}
.user_profile:hover .user_name { bottom:-50px; }
.user_options {
  margin-top:65px;
  text-align:center;
}
.user_menu {
  float:left;
  margin-left:40px;
  padding:0 5px;
  border-radius:20px;
  box-shadow:0.5px 0.5px 10px #444;
}
.user_menu li {
  list-style:none;
  cursor:pointer !important;
  padding:5px;
  height:30px;
  width:30px;
  float:left;
  margin:10px;
  color:#256e79;
  font-size:20px;
  background:#fff;
  border-radius:10px;
}
.user_menu li:hover {
  background:#256e79;
  color: white;
}
.user_details {
  width:80%;
  margin:0 auto;
  float:right;
  padding:20px;
}
.user_details table { width:50%;margin:0 auto;}
.user_details table td{
  padding:5px 10px;
  border-bottom:1px solid #eeefff;
}
@media only screen and (max-width:440px) {
  .loggedin_user { width:174px; }
  .user_profile { float:none;margin:0 auto; }
  .user_options { float:none;width:170px; margin-top:30px;padding:0; }
  .user_menu { width:180px; margin:0 auto !important;padding-left:8%;box-shadow:0.5px 0.5px 1px #999; }
  .user_menu li:hover { background:#256e79;color: white; }
}

@media only screen and (max-width:710px) {
  .user_details { margin:0 10%;float:left; }
  .user_details table { width:100%;margin:20px 0; }
}

.fa-plus {
  color: #8c0000;
}

a:hover {
  text-decoration: none;
  color: #256e79;
}
