

.wrapper-form  {
  margin-top: -30px;
  background: #aaa;
  padding-bottom: 55px;
}

#contact_location_dropdown{
  display: none
};
.hidden{
  display: none
};

.newbutton{
  height: 50px;
  width: 200px;
  background-color: #eee;
  border: 2px;
  border-color: #256e79;
  border-radius: 2px;
  box-shadow: 2px;
  text-align: center;
};

#contact_tag1_dropdown{
  display: none
};

#contact_tag2_dropdown{
  display: none
};









#milestone_location_dropdown{
  display: none
};


#milestone_tag1_dropdown{
  display: none
};

#milestone_tag2_dropdown{
  display: none
};
