
  /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #eee;
  color: white;
  padding: 60px;


}


.contact-name-dash {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2.5px;
  margin-bottom: 13px;
}

.dash-first-info {
  margin-bottom: -35px;
  margin-top: -50px;
}

.contact-info-dash {
  margin-bottom: 12px;
 }

 .contact-info-dash h2 {
  color: black;
  font-weight: bold;
  text-align: center;
 }
.chart-info h5 {
  font-size: 16px;
  color: #393E41;
  margin-left: 26px;
}
.milestones-counter {
  margin: 50px 0 0px -30px;
}

.dashboard-scroll{
  overflow: auto;
  max-height: 200px;
  width: 400px;
  max-width: 500px;
  margin: 24px 3px 1px 1px
}
.dashboard-scroll::-webkit-scrollbar {
    width: 1em;
}

.dashboard-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.dashboard-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.contact-phone-dash {
  // margin-top: -20px;
  // text-align: center;
  line-height: 2.5;
  color: #393E41;
  font-weight: ligher;
}

.contact-email-dash {
  // margin-bottom: 30px;
  // text-align: center;
}
.contact-email-dash h4 {
 color: #393E41;
}

.contact-info-dash h4 {
  font-size: 18px;
}
.contact-info-dash h5 {
  font-size: 20px;
  color: #393E41;
}
.position-c {
  margin-bottom: 20px;
}

.locat-tag-dash {
  margin: 43px 173px;
   display: flex;
  justify-content: space-around;
}
.linkedin-dash {
  margin-bottom: 30px;
}

.birth-date-dash {
  margin-bottom: 20px;
}

.m-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  margin-top: 100px;
}

.dash-secondary-info {
  margin-top: 40px;
}
@media screen and (max-width: 900px) {
  .dashboard-scroll{
  overflow: auto;
  max-height: 200px;
  max-width: 250px;

}
 .milestones-counter {
  margin: 0 auto;
}
.contact-name-dash {
     font-size: 36px;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin-top: 55px;
}
.locat-tag-dash {
  margin: 0 auto;
   display: flex;
  justify-content: space-around;
}
.m-buttons {
  margin: 10px -36px -30px -36px !important;
  display: flex;
  justify-content: space-between;
}
.dash-line {
  height: 2px;
  color: #256e79;
  margin: 31px -40px !important;
  border: none;
  background-color: #256e79;
}
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: white;
  padding: 50px 0;
  color: #ccc;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: gray;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;

}

.timeline ul li .stone {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: white;
  color: white;
  border: 1px solid black;
}

.timeline ul li .stone::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) .stone {
  left: 45px;
}

.timeline ul li:nth-child(odd) .stone::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $wine transparent transparent;
}

.timeline ul li:nth-child(even) .stone {
  left: -439px;
}

.timeline ul li:nth-child(even) .stone::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #256e79;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #83040b;
}

.timeline ul li .stone {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) .stone {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) .stone {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view .stone {
  transform: none;
  position: relative;
  visibility: visible;
  opacity: 1;
  border-radius: 3px;
  box-shadow: -2px 2px 22px 1px;
  box-shadow: 1px 1px 6px gray;
}

.dash-line {
  height: 2px;
  color: #256e79;
  margin: 30px -530px;
  border: none;
  background-color: #256e79;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li .stone {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .stone {
    left: -289px;
    /*250+45-6*/
  }
  .milestone-edit {
    margin-left: 184px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .stone {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) .stone {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .stone::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #256e79 transparent transparent;
  }
}




.mile-button {
  color: $wine;
  border: 1px solid #256e79;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 400;
  opacity: 0.6;
  background-color: white;
  width: 200px;
}
.mile-button:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
  margin: 0 auto;
}


.m-buttons {
  margin: 10px -10px -35px;
  display: flex;
  justify-content: space-between;
}



.milestone-edit {
  position: absolute;
  top: 10px;
  right: 10px
}

.delete-milestone {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: gray;
}

.delete-milestone:hover {
  color: #cb2431;
}



.loca {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 10px;
  margin-top: 11px;
}

.locat-tag {
  display: flex;
  justify-content: space-around;
}

.toq-line  {
 height: 2px;
 color: $torq;
 margin-top: 19px;
 border: none;
 background-color: $torq;

}

.contact-info {
  color: black;
}

.milestones-counter {
  color: black;
}

.email-phone {
  display: flex;
  justify-content: space-around;
  margin: -16px;

}
