<h1>Contacts#index</h1>

<div class="container">
	<div class="row">
    <div id="contacts">
      <% if params[:query].present? %>
        <% @contacts.each do |contact|  %>
          <div class="col-md-2">
            <h4>
              <%= link_to contact.first_name, contact_milestones_path(contact) %>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="location-contacts">
      <% if params[:location_id].present?  %>
        <% @contacts_for_location.each do |contact| %>
          <div class="col-md-2">
            <h4><%= link_to contact.first_name,
            contact_milestones_path(contact) %>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div> 
    <div id="tag-contacts">
      <% if params[:tag_id].present? %>
        <% @list_of_contacts.each do |contact| %>
          <div class="col-md-2">
            <h4>
              <%= link_to contact.first_name,
            contact_milestones_path(contact) %>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>