
<div class="container">
	<div class="row">
    <div id="contacts">
      <% if params[:query].present? %>
            <%= render "shared/phone_cards" %>
      <% end %>
    </div>
    <div id="location-contacts">
      <% if params[:location_id].present?  %>
        <% @contacts_for_location.each do |contact| %>
          <%= render "shared/location_cards" %>
        <% end %>
      <% end %>
    </div> 
    <div id="tag-contacts">
      <% if params[:tag_id].present? %>
        <% @list_of_contacts.each do |contact| %>
          <%=   render "shared/tag_cards" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>